html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 1050px;
    margin: 0 auto;
    font-weight: 300;
}

:focus {
    outline: 0;
}

.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::placeholder {
    font-style: italic;
    font-weight: 300;
}

.new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    box-sizing: border-box;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding: 16px;
    /* https://github.com/asciidwango/js-primer/issues/1316 */
    list-style: none;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li input[type="checkbox"] {
    width: 40px;
    height: auto;
    margin: auto 0;
    border: none;
}

.todo-list li .delete {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    color: #cc9a9a;
}

.todo-list li .timer {
  position: absolute;
  top: 16px;
  right: 300px;
  bottom: 0;
  width: auto;
  height: auto;
  color: #cc9a9a;
}


.todo-list li .start {
  position: absolute;
  top: 0;
  right: 170px;
  bottom: 0;
  width: auto;
  height: auto;
  color: #cc9a9a;
}

.todo-list li .stop {
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  width: auto;
  height: auto;
  color: #cc9a9a;
}

.todo-list li .reset {
  position: absolute;
  top: 0;
  right: 110px;
  bottom: 0;
  width: auto;
  height: auto;
  color: #cc9a9a;
}



.footer {
    color: #777;
    height: 20px;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
}

/* ボタンのデザイン */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right bottom, #FFA500, #FF6347);
    border-radius: 5px;
    color: #fff;
    margin: 20px;
    transition: 0.3s;
  }
  
  .btn:hover {
    opacity: .8;
  }
  
  /* オーバーレイ */
  .overlay {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);  
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
    /* 表示する際の変化の所要時間 */
    transition: .3s;
  }
  
  /* activeクラスのついたオーバーレイ */
  .overlay.active {
    /* activeクラスがついたときにオーバーレイを表示する */
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダルウィンドウ */
  .modal {
    max-width: 500px;
    width: 86%;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
  }
  
  /* activeクラスのついたモーダルウィンドウ */
  .modal.active {
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダルウィンドウ内の閉じるボタン */
  .modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .modal h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .modal p {
    font-size: 13px;
  }